{% extends "global/Page.html" %}
{% load static otree %}

{% block content %}
<body class="bg-light">
    <div class="card">
        <div class="card-header text-center font-weight-bold">
            <h5 class="card-title">Fase 3: Questionario</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
            {{if player.treatment == "C1" or player.treatment == "T1" or player.treatment == "T2" }}
                {{ formfield 'labels' }}
                {{ formfield 'attention' }}
            {{ endif }}

            {{if player.treatment == "C2" or player.treatment == "T3" or player.treatment == "T4" }}
                {{ formfield 'attention_2' }}
            {{ endif }}

            {{if player.treatment == "T2" or player.treatment == "T4" }}
                {{ formfield 'time_pressure' }}
            {{ endif }}

            {{if player.treatment == "T1" or player.treatment == "T3" }}
                {{ formfield 'cognitive_load' }}
            {{ endif }}

            {{formfield 'comments'}}
        </div>
        <div class="card-footer text-right" align="right">
                 <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        </div>
    </div>
</body>

{% endblock %}