{% extends "global/Page.html" %}
{% load static otree %}

{% block content %}
<style>
.container{
    max-width: 90%;
}

</style>

<body class="bg-light">
    <div class="card">
        <div class="card-header text-center font-weight-bold">
            <h5 class="card-title"></h5>
        </div>
      <div class="card-body" align="center"><h1>Fase 2: Compito di Scelta Alimentare </h1></div>

        <div class="card-footer text-right" align="right">
                 <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        </div>
    </div>
</body>

{% endblock %}
