{% extends "global/Page.html" %}
{% load static otree %}

{% block content %}
<body class="bg-light">
    <div class="card">
        <div class="card-header text-center font-weight-bold">
            <h5 class="card-title">Fase 2: Compito di Scelta Alimentare </h5>
        </div>
        <div class="card-body">
            <p class="card-text">
            <p>
            Ora inizieremo con il compito di scelta alimentare.
            Quando sei pronto/a, fai clic su "Avanti".
            </p>
        </div>

        <div class="card-footer text-right" align="right">
                 <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        </div>
    </div>
</body>





<script>

</script>

{% endblock %}